<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TRABAJO_CRUDF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="TRABAJO_CRUDF.Properties.Settings.Trabajo_CrudConnectionString"
            connectionString="Data Source=DESKTOP-HN3C64M\SQLEXPRESS;Initial Catalog=Trabajo_Crud;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="TRABAJO_CRUDF.Properties.Settings.Trabajo_CrudConnectionStringf"
            connectionString="Data Source=L301-18\SQLEXPRESS;Initial Catalog=Trabajo_Crud;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="TRABAJO_CRUDF.Properties.Settings.Trabajo_CrudConnectionStringclase"
            connectionString="Data Source=L301-19\SQLEXPRESS;Initial Catalog=Trabajo_Crud;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="TRABAJO_CRUDF.Properties.Settings.Trabajo_CrudConnectionStringMARTES"
            connectionString="Data Source=DESKTOP-1Q8OQ78\SQLEXPRESS;Initial Catalog=Trabajo_Crud;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="TRABAJO_CRUDF.Properties.Settings.Trabajo_CrudConnectionString1"
            connectionString="Data Source=L301-17\SQLEXPRESS;Initial Catalog=Trabajo_Crud;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
<applicationSettings>
        <TRABAJO_CRUDF.Properties.Settings>
                <setting name="TRABAJO_CRUDF_AlumnosYAsignaturasWS_MIWSPERUCA"
                        serializeAs="String">
                        <value>https://localhost:44328/MIWSPERUCA.asmx</value>
                </setting>
        </TRABAJO_CRUDF.Properties.Settings>
    </applicationSettings>
</configuration>